<div class="tab-content">
    <div class="navbar-search" style="border:solid">
        <h5>Search</h5>
        <select id="dropdown">
            <option value="Newspapers">News papers</option>
            <option value="Books">Books</option>
            <option value="Journal">Journal</option>
        </select>
        <input id="SeachInput" type="text" />
        <div id="resultSearchContainer">
            <h5>Search Result</h5>
            <select id="resultSearch">
                <option selected disabled>Don't find products</option>
            </select>
        </div>
        <h2></h2>
        <button id="search">Show select product</button>
        <div id="searchResults">
        </div>
    </div>
    <h5> </h5>
    <ul class="nav nav-tabs">
        <li data-toggle="tab"><a class="Summary-load nav_link">All products</a></li>
        <li data-toggle="tab"><a class="News-Paper nav_link">News papers</a></li>
        <li data-toggle="tab"><a class="book-load nav_link">Books</a></li>
        <li data-toggle="tab"><a class="Journal-load nav_link">Journal</a></li>

    </ul>
    <div class="tab-pane fade in active">
        <div id="ContentDiv">
            <div id='KendoGridId'></div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/switch-menu.js"></script>
    <link href="~/Content/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/jszip.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.js"></script>
    <script src="~/Scripts/live-search.js"></script>
    <script src="~/Scripts/kendoUI/out-ui-kendo-grid.js"></script>
    <script src="~/Scripts/kendoUI/journal.ui-kendo.grid.js"></script>
    <script src="~/Scripts/kendoUI/news.paper-ui-kendo.grid.js"></script>
    <script>
        $(document).ready(function () {
            SwitchMenu('#KendoGridId');
        });
    </script>
}