<div class="tab-content">
    <div class="navbar-search" style="border:solid">
        <h5>Search</h5>
        <select id="dropdown">
            <option value="Newspapers">News papers</option>
            <option value="Books">Books</option>
            <option value="Journal">Journal</option>
        </select>
        <input id="SeachInput" type="text" />
        <div id="resultSearchContainer">
            <h5>Search Result</h5>
        </div>
        <h2></h2>
        <div id="searchResults">
        </div>
    </div>
    <h5> </h5>
    <ul class="nav nav-tabs">
        <li data-toggle="tab"><a class="Summary-load nav_link">All products</a></li>
        <li data-toggle="tab"><a class="News-Paper nav_link">News papers</a></li>
        <li data-toggle="tab"><a class="book-load nav_link">Books</a></li>
        <li data-toggle="tab"><a class="Journal-load nav_link">Journal</a></li>

    </ul>
    <div class="tab-pane fade in active">
        <div id="ContentDiv">
            <div id='KendoGridId'></div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/kendoSearchUI/Search-Book-kendo.grid.js"></script>
    <script src="~/Scripts/kendoSearchUI/Search-NewsPaper-kendo.grid.js"></script>
    <script src="~/Scripts/kendoSearchUI/Search-Journal-kendo.grid.js"></script>
}